/* AM IMPORTANT FISIERUL CU ELEMENTELE IDENTICE */
@import "..//_globals.css";

/* VARIANTA DE TELEFON */
body {
  background-image: url(../imaginiproiect/background-destination-mobile.jpg);
}
/* CENTRAREA ELEMENTELOR DIN BODY */
body > main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description {
  color: #d0d6f9;
  text-align: center;
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-top: 5px;
  margin-right: 8%;
  margin-left: 8%;
}

.title {
  color: #fff;
  text-align: center;
  font-family: Bellefair, sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 10px;
}
.meet {
  color: #fff;
  font-family: Barlow Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
.meet > span {
  color: #fff;
  font-family: Barlow Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.7px;
}
.meet {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 1%;
}
/* CENTRAREA SI FIXAREA IMAGINII */
.moon-img {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
/* ASEZAREA CELUI DE-AL DOILEA NAV */
.nav-destinacion {
  display: flex;
  justify-content: center;
}

.nav-destinacion > .nav-destinacion-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 16px;
  font-family: "Barlow Condensed", sans-serif;
  padding: 0;
}
.nav-destinacion-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}
.nav-destinacion-item {
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}

.nav-destinacion-item::after {
  content: "";
  display: block;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #fff;
  transition: width 0.3s;
}
.nav-destinacion-item:hover::after {
  width: 100%;
}

.nav-destinacion-link {
  text-decoration: none;
}
.nav-destinacion-link > p {
  color: #d0d6f9;
  font-family: Barlow Condensed;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.362;
}
.line {
  width: 80%;
  height: 1px;
  background-color: #f8f8f8;
  opacity: 0.2;
  z-index: 100;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.km p {
  color: #d0d6f9;
  text-align: center;
  font-family: Barlow Condensed;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.362px;
  text-transform: uppercase;
  margin-bottom: 3%;
}
.km h3 {
  color: #fff;
  text-align: center;
  font-family: Bellefair;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.days p {
  color: #d0d6f9;
  text-align: center;
  font-family: Barlow Condensed;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.362px;
  text-transform: uppercase;
  margin-top: 5%;
  margin-bottom: 3%;
}
.days h3 {
  color: #fff;
  text-align: center;
  font-family: Bellefair;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

/* VARIANTA DE TABLETA */
@media screen and (min-width: 768px) {
  body {
    background-image: url(..//imaginiproiect/background-destination-tablet.jpg);
  }
  /* ASEZARE PICK YOUR DESTINATION */
  .meet {
    font-size: 20px;
    letter-spacing: 3.375px;
  }
  .meet > span {
    font-size: 20px;
    letter-spacing: 3.375px;
  }

  .meet {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    align-self: normal;
    margin-top: 10%;
  }
  .moon-img {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    max-width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
  }
  .nav-destinacion-link > p {
    font-size: 20px;
    letter-spacing: 2.7;
  }
  .title {
    font-size: 80px;
    margin-top: 3%;
  }
  .description {
    margin-right: 10%;
    margin-left: 10%;
    font-size: 20px;
    line-height: 28px;
  }
  .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .km,
  .days {
    flex: 1;
    text-align: center;
  }
  .km {
    margin-left: 10%;
    margin-top: 2%;
  }
  .days {
    margin-right: 10%;
  }

  .km > p {
    font-size: 20px;
    letter-spacing: 2.362;
  }
  .km > h3 {
    font-size: 40px;
  }
  .days > p {
    font-size: 20px;
    letter-spacing: 2.362;
  }
  .days > h3 {
    font-size: 40px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-image: url(..//imaginiproiect/background-destination-desktop.jpg);
  }

  /* AM DESPARTIT CONTINUTUL LA DREAPTA SI LA STANGA */
  body > main {
    flex-direction: row;
    justify-content: space-around;
  }

  .main-container {
    display: flex;
  }

  .left-content {
    flex: 1;
  }

  .right-content {
    flex: 1;
    margin-bottom: 10%;
  }
  /* PICK YOUR DESTINATION */
  .meet {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 4.725px;
    text-transform: uppercase;
  }

  .meet > span {
    font-size: 28px;
    letter-spacing: 4.725px;
  }
  /* IMAGINE PLANETA */
  .moon-img {
    width: 500px;
    height: 500px;
    flex-shrink: 0;
    max-width: 100%;
    margin-left: 20%;
  }

  .nav-destinacion-link > p {
    font-size: 25px;
    letter-spacing: 2.7;
  }
  .title {
    font-size: 70px;
    margin-right: 20%;
  }
  .description {
    text-align: left;
    color: #d0d6f9;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-left: 25%;
    width: 444px;
  }
  .text {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-left: 12%;
  }
  .km {
    margin-left: 10%;
    margin-top: 2%;
  }
  .line {
    width: 60%;
    margin-left: 25%;
  }
}
